.bottomWindow {
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 9;
  background-color: rgba(151, 151, 151, 0.6);
  position: fixed;
  overflow: hidden;
}

.window {
  z-index: 10;
  position: absolute;
  bottom: 0px;
  left: 0px;
  width: 100%;
  /* min-height: 20%; */
  height: 90%;
  background-color: white;
  border-radius: 16px 16px 0px 0px;
  overflow: scroll;
}

.header {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  font-size: 1.05rem;
  margin-right: 20px;
  margin-left: 20px;
  margin-top: 24px;
  margin-bottom: 10px;
  font-weight: 500;
  justify-content: space-between;
}

.close {
  cursor: pointer;
}

.content {
  padding: 5px 15px;
  margin: 0 5px 10px 5px;
}
