.filter {
  font-weight: 400;
  font-size: 19px;
  line-height: 23px;
  margin-bottom: 15px;
  height: 38px;
  padding: 5px;

  display: flex;
  justify-content: space-between;
  align-items: center;
}

.filter img {
  width: 23px;
  height: 23px;
  cursor: pointer;
}

.filter p {
  margin: 0;
}

.bblock {
  display: inline-flex;
  gap: 10px;
}
