.price {
  font-size: 14px;
}

.slider {
  padding: 0 0.5rem;
}

.inputs {
  display: flex;
  justify-content: space-between;
  gap: 20px;
}

summary {
  display: block;
  cursor: pointer;
  margin-bottom: 10px;
}

summary::after {
  /* content: "\25B6"; */
  content: url("../../../../../../../public/img/icons/arrow-down.svg");
  padding-left: 0.5em;
}

details[open] > summary::after {
  /* content: "\25BC"; */
  content: url("../../../../../../../public/img/icons/arrow-up.svg");
}

details {
  /* margin: 12px 0; */
  padding: 12px 0;
}

.colors {
  padding: 10px 0;
}

.sizes {
  display: flex;
  gap: 10px;
  padding: 10px 0;
  flex-flow: row wrap;
  justify-content: flex-start;
}
