.carousel {
}

.preview {
  margin-bottom: 1rem;
  height: 222px;
  display: flex;
  justify-content: center;
}

.preview img {
  height: 100%;
}

.buttons {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: flex-start;
  gap: 10px;
  overflow: auto;
}

.button {
  width: 60px;
  height: 60px;
  border: 1px solid #d8d8dd;
  border-radius: 10px;
  order: 0;
  flex-grow: 0;
  overflow: hidden;
  cursor: pointer;

  display: flex;
  align-items: center;
  justify-content: center;
}

.button img {
  width: 100%;
}

.active {
  border-color: #000;
  cursor: auto;
}
