.favoriteBtn {
  width: 42px;
  height: 42px;
  cursor: pointer;
  z-index: 1;
  display: inline-flex;
  justify-content: center;
  align-items: center;
}

.favoriteBtn img {
  width: 20px;
  height: 16px;
}
