.color {
  width: 25px;
  height: 25px;
  border: 1px solid #000000;
  border-radius: 7px;
  display: inline-block;
  margin-right: 10px;
  cursor: pointer;
}

.active {
  border: 2px solid #000000;

  background-image: url("../../../../../public/img/icons/check.svg");
  background-repeat: no-repeat;
  background-position: center center;
}
