.banner {
  width: 335px;
  height: 164px;
  margin: 0 auto;
  margin-bottom: 10px;
}

.bannerSelect {
  position: relative;
  top: -20px;

  display: flex;
  gap: 14px;
  margin-left: auto;
  margin-right: auto;
  flex-direction: row;
  justify-content: center;
}

.bannerSelectItem {
  width: 8px;
  height: 8px;
  opacity: 0.2;
  background-color: black;
  border-radius: 50%;
  cursor: pointer;
}

.bannerSelectItemActiv {
  opacity: 1;
}

.bannerImg {
  display: none;
}

.bannerImgActive {
  display: block;
}
