.bottomBar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 0px 15px;
  /* gap: 68px; */

  position: fixed;
  width: 100%;
  height: 50px;
  bottom: 0;

  background: #ffffff;
  border-top: 0.2px solid rgba(0, 0, 0, 0.5);
}

.bottomBarLink {
  width: 43px;
  height: 42px;

  border-radius: 5px;
  flex: none;
  flex-grow: 0;

  display: flex;
  align-items: center;
  justify-content: center;
}

.bottomBarLink img {
  /* margin: auto; */
}

.bottomBarLinkActive {
  box-sizing: border-box;
  border-bottom: 5px solid #000000;
  border-radius: 5px;
}

.linkChip {
  position: absolute;
  width: 15px;
  height: 15px;
  right: 16px;
  top: 10px;

  font-family: "Work Sans";
  font-style: normal;
  font-weight: 530;
  font-size: 14px;
  line-height: 16px;
  border: 1px solid #000000;
  border-radius: 50%;
  background-color: #ffffff;
  z-index: 1;

  display: flex;
  align-items: center;
  justify-content: center;
}
