.card {
  display: flex;
  gap: 0.7rem;
  flex-direction: column;
  padding-bottom: 2rem;
}

.previewBlock {
  min-height: 130px;
  position: relative;
  /* margin-bottom: 12px; */
}

.favWrap {
  position: absolute;
  top: 0px;
  right: -10px;
}

.discountWrap {
  position: absolute;
  bottom: 80px;
  right: 0px;
}

.brandAndPrice {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
  /* margin-bottom: 10px; */
}

.brand {
  font-weight: 500;
  font-size: 22px;
  line-height: 27px;
  color: #000;
}

.description {
  font-size: 16px;
  line-height: 20px;
}

.hr {
  color: #d8d8dd;
  opacity: 0.5;
}

.sizes {
  display: flex;
  flex-direction: row;
  gap: 10px;
  justify-content: space-between;
}

.propName {
  font-weight: 500;
  font-size: 17px;
}
