.notFound {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 60px;
  margin-bottom: 60px;
}

.notFound p {
  font-size: 28px;
  line-height: 34px;
  text-align: center;
}

.interest {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.interest p {
  font-size: 20px;
  line-height: 24px;
  opacity: 0.57;
}
