.discounted {
  color: #868686;
  margin-right: 7px;
  font-size: 0.9em;
}

.discountedlinethrough {
  text-decoration: line-through;
}

.price {
  font-size: 14px;
  font-weight: 500;
  line-height: 17px;
}

.priceValue {
  /* font-weight: 600; */
}
