.ProductListItem {
  /* min-height: 50px; */
}

.preview {
  height: 163px;
  position: relative;
  display: flex;
}

.preview img {
  max-width: 100%;
  max-height: 100%;
  /* height: inherit; */
  margin: auto;
}

.previewImg {
  height: 100%;
}

.favWrap {
  position: relative;
  top: 14px;
  right: 15px;
}

.discountWrap {
  position: absolute;
  top: 1px;
  left: 3px;
}

.favoriteWrap {
  position: absolute;
  top: 0;
  right: 0;
}

.brand {
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
}

.description {
  color: #7c7a7a;
  font-weight: 400;
  font-size: 13px;
  line-height: 16px;
  margin-top: 7px;
  margin-bottom: 7px;
}

.text {
  font-weight: 400;
  font-size: 13px;
  line-height: 16px;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

.info {
  margin-bottom: 14px;
  margin-top: 9px;
  padding: 15px;
}

.product {
  margin-bottom: 40px;
}

.itemWrap {
  position: relative;
}

.ProductListItemSmall {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 15px;
}

.ProductListItemSmall .itemWrap {
  width: calc(100% / 2 - 15px);
}

.ProductListItemSmall .discountWrap span {
  font-size: 0.8rem;
}

.ProductListItemSmall .preview {
  height: 100px;
}

.link {
  text-decoration: none;
  color: black;
}
