.wrapper {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.window {
  z-index: 10;
  min-width: 90%;
  min-height: 200px;
  background-color: white;
  border-radius: 16px;
  overflow: scroll;
}

.content {
  margin: 20px;
}
