.discountChip {
  z-index: 1;
  background-color: #880e4f;
  border-radius: 10px;
  display: inline-block;

  font-style: normal;
  font-weight: 600;
  font-size: 1.1rem;

  color: #ffffff;
  padding: 0.2rem 0.6rem;
}
